<!DOCTYPE html>
<html>
  <head>
    <title>Best Thing Ever</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
<body>
<h1>Welcome to Best Thing Ever</h1>
<p>Answer five simple questions to find out what you believe is the Best Thing Ever!<br>
	Based on years of research by a smart person, the results are unquestionable and surprising!<br></p>
	<p><a href="app/questions" target ="_self">Get started!</a></p>

 </body>
</html>